In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('./../data/quatrains.csv')

In [3]:
df['text_split'] = df.text.map(lambda x: ' '.join(x))

In [4]:
X = df['text_split']

In [5]:
cvec = CountVectorizer(tokenizer=lambda x: x.split())

In [6]:
X = cvec.fit_transform(X)

In [7]:
len(pd.DataFrame(cvec.get_feature_names())[0])

8568

In [8]:
char_list = pd.DataFrame(cvec.get_feature_names())

In [9]:
char_list.rename({0: 'char'}, axis='columns', inplace=True)

In [27]:
len(char_list)

8568

In [31]:
for i in range(0, 17):
    if i != 16:
        start = i*500
        stop =(i+1)*500
        char_list.iloc[start:stop,:].to_excel(f'../data/char_list_{i}.xlsx')
    else:
        start = i*500
        stop = 8568
        char_list.iloc[start:stop,:].to_excel(f'../data/char_list_{i}.xlsx')

In [23]:
17*500

8500

In [22]:
list(range(0,18))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [17]:
char_list.iloc[500:1000,:]

    char
500    冰
501    冲
502    决
503    况
504    冶
..   ...
995    噁
996    噆
997    噇
998    噉
999    噍

[500 rows x 1 columns]

In [28]:
len(char_list.iloc[0:8568,:])

8568

In [18]:
char_list.iloc[0:500,:]

    char
0      㑹
1      㒿
2      㕙
3      㕮
4      㖀
..   ...
495    冥
496    冨
497    冩
498    冪
499    冬

[500 rows x 1 columns]

In [12]:
char_list.to_excel('../data/char_list.xlsx')