In [1]:
import numpy as np
import pandas as pd
import spacy
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('../data/quatrains.csv')

In [3]:
df['text_split'] = df.text.map(lambda x: ' '.join(x))

In [4]:
X = df['text_split']

In [5]:
cvec = CountVectorizer(tokenizer=lambda x: x.split())

In [6]:
X = cvec.fit_transform(X)

In [7]:
len(pd.DataFrame(cvec.get_feature_names())[0])

8568

In [8]:
char_list = pd.DataFrame(cvec.get_feature_names())

In [9]:
char_list

      0
0     㑹
1     㒿
2     㕙
3     㕮
4     㖀
...  ..
8563  𫇢
8564  𬋖
8565  𮪃
8566  𮫃
8567  𮭗

[8568 rows x 1 columns]

In [10]:
char_list.to_excel('../data/char_list.xlsx')